Options -MultiViews
Allow from jiakr.com
RewriteEngine On

# Prevent access to htaccess file
RewriteRule ^\.htaccess$ - [F]

# Redirect empty URIs to index.php
RewriteCond %{REQUEST_URI} =""
RewriteRule ^.*$ /public/index.php [NC,L]

# Prevent users from trying to access the public folder
RewriteCond %{REQUEST_URI} ^/public$
RewriteRule ^(.*)$ http://mydomain.com [NC,L]

RewriteCond %{REQUEST_URI} !^/public/.*$
RewriteRule ^(.*)$ /public/$1

# Allow any existing (accessible) files (e.g. css, js etc) access, while delegating all others to public/index.php 
RewriteCond %{REQUEST_FILENAME} -f
RewriteRule ^.*$ - [NC,L]
RewriteRule ^public/.*$ /public/index.php [NC,L]
