@CHARSET "UTF-8";
body {
  font: 14px Arial, Helvetica, sans-serif;
  line-height:20px;
  margin:0;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  color:#999999;
}
h1 {
  font-size: 20px;
  margin: 20px 0 10px 0;
  font-weight: normal;
}
a:link {
  color:#2200C1;
}
#logo {
  width:960px;
  margin: 0 auto;
  line-height:50px;
  font-size:18px;
}
#logo a {
  color:#000000;
  text-decoration:none;
}
#category {
  line-height:25px;
  background-color:#ffdddd;
}
#category .content {
  width:960px;
  margin: 0 auto;
}
#category a {
  color:#2200C1;
  padding:2px 10px;
}
#category .current {
  border-top:3px solid #ff6600;
}
#footer {
  clear:both;
  text-align:center;
  color:#888888;
}
#content {
  width:960px;
  margin: 0 auto;
}
#list, #document{
  float:left;
  width:600px;
}
#recent {
  float:right;
  width:335px;
  margin-top:20px;
}
.text {
  float:left;
  margin-right:10px;
}
.short_text {
  width:390px;
}
.item .image {
  float:right;
}
#list .item {
  float:left;
  margin:5px;
  border-bottom:1px solid #cccccc;
  padding:5px;
  width:600px;
}
#list .item .title {
  font-size:110%;
}
.meta {
  color:#999999;
  font-size:90%;
}
#list .item .description {
  padding:5px 0;
  color:#666666;
}
.red_title {
  color:#ff6600;
  font-size:110%;
}
#page {
  text-align:center;
  color:#888888;
}
#related {
  float:left;
  padding-top:10px;
  border-top: solid 1px #cccccc;
  width:100%;
}
#related .link {
  display:block;
  margin-top:10px;
}
#document .description {
  padding-top:5px;
}
#document .meta {
  margin: 5px 0;
}
#document .source_link {
  float: left;
  color: #0E774A;
  width:100%;
  padding:5px;
  margin:5px 0;
  line-height:20px;
  background-color:#E3F6CE;
}
#document .source_link .text {
  width:520px;
  margin-right: 0;
}
#document .source_link img {
  vertical-align:middle
}
#document .source_link a {
  background-color: green;
  color: white;
  padding: 5px 15px;
  text-decoration: none;
}
#document .back {
  padding:5px;
  margin:20px 0;
  width:100%;
  float:left;
  background-color: #e1e1e1;
}
#document .back .to_list, .more {
  color:#2200C1;
}
.error_content {
  padding:100px;
  text-align:center;
}