@CHARSET "UTF-8";
body {
  font: 14px Arial, Helvetica, sans-serif;
  line-height:20px;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  color:#999999;
}
#logo {
  width:950px;
  margin: 0 auto;
  line-height:50px;
  font-size:18px;
}
#logo a {
  color:#000000;
  text-decoration:none;
}
h1 {
  font-weight: normal;
  font-family: "黑体";
  font-size: 20px;
}
#category {
  background-color:#e1e1e1;
  line-height:25px;
}
#category .content {
  width:950px;
  margin: 0 auto;
}
#category a {
  color:#2200C1;
  padding:2px 10px;
}
#category .current {
  background-color:#ffcccc;
  border-top:3px solid #ff6600;
}
#footer {
	clear:both;
  text-align:center;
  color:#888888;
}
#content {
  width:950px;
  margin: 0 auto;
}
#hot {
  float:left;
  width:660px;
}
#recent {
  float:right;
  width:280px;
  margin-top:20px;
}
.text {
  float:left;
  margin-right:10px;
}
.short_text {
  width:390px;
}
.item .image {
  float:right;
}
.item {
  float:left;
  margin:5px;
  border-bottom:1px solid #cccccc;
  padding:20px;
  width:600px;
}
.item .title {
  font-size:120%;
}
.item .meta {
  color:#999999;
  font-size:90%;
}
.item .description {
  padding:5px 0;
  color:#666666;
}
.red_title {
  color:#ff6600;
  font-size:110%;
}